body {
  font-family: 'Pretendard';
  font-style: normal;
}

/* header */
header {
  padding: 24px 340px;
  position: relative;
  z-index: 10;
}

header > div {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 24px;
  padding: 0 50px;
  height: 80px;
}

header > div > div {
  display: flex;
  align-items: center;
}

header > div .logo-wrap {
  width: 100px;
  flex-shrink: 0;
}

header > div .logo-wrap img {
  width: 100%;
}

header .text-wrap {
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  color: #222222;
  font-size: 16px;
  font-weight: 600;
}

header .text-wrap .header-link-wrap {
  display: flex;
  gap: 60px;
}

header .text-wrap .header-link-wrap > a {
  text-decoration: none;
  color: initial;
}

/* footer */
footer {
  background: #DEE9D7;
}

footer > div {
  display: flex;
  height: 300px;
  padding: 0 100px;
}

footer > div > div {
  display: flex;
  align-items: center;
}

footer > div .logo-wrap {
  width: 100px;
  flex-shrink: 0;
}

footer > div .logo-wrap img {
  width: 100%;
}

footer .text-wrap {
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  width: 100%;
  color: #8FA680;
  font-size: 14px;
  font-weight: 400;
}

footer .text-wrap .title {
  font-family: 'Noto Sans KR';
  color: #6F8F5B;
  font-weight: 600;
}

footer .text-wrap > div {
  line-height: 23px;
}

footer .text-wrap .company-wrap {
  margin-top: 23px;
}

/* contents */
main {
  margin-top: -128px;
}

main button {
  box-sizing: border-box;
  width: 145px;
  height: 50px;
  background: rgba(34, 34, 34, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 16px;
}

main .green-color-title {
  color: #72BF44;
  font-weight: 600;
  font-size: 20px;
}

main .contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  height: 100%;
}

main .contents .box-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

main .contents .box-wrap > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  width: 608px;
  height: 500px;
}

main .contents div p + p {
  margin-top: 24px;
}

main .contents .title {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}

main .contents > div + div {
  margin-top: 60px;
}

main .top-wrap {
  display: flex;
  justify-content: center;
  background-image: url("./images/main01.png");
  background-size: cover;
  height: 980px;
}

main .top-wrap .main-text-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 28px;
}

main .top-wrap .main-text-wrap .title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 40px;
}

main .top-wrap .main-text-wrap .title + p {
  margin-top: 30px;
}

main .top-wrap .main-text-wrap p + p {
  margin-top: 20px;
}

main .top-wrap .main-text-wrap p + button {
  margin-top: 60px;
}

main .about-wrap {
  background: #FFF9EF;
  height: 864px;
}

main .about-wrap .blueberry-wrap {
  background-image: url("./images/blueberry.png");
  background-size: cover;
}

main .about-wrap .caring-wrap {
  background-image: url("./images/caring.png");
  background-size: cover;
}

main .product-wrap {
  display: flex;
  height: 750px;
}

main .product-wrap .left-wrap {
  width: 40%;
  height: 100%;
  background-image: url("./images/mainProduct.png");
  background-size: cover;
  padding-right: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main .product-wrap .left-wrap .text-wrap {
  height: 246px;
  border-radius: 0px 24px 24px 0px;
  background: rgba(255, 255, 255, 0.85);
  margin-bottom: 70px;
}

main .product-wrap .left-wrap .text-wrap > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 calc(100% - 570px);
}

main .product-wrap .left-wrap .text-wrap .title {
  font-size: 40px;
  font-weight: 700;
}

main .product-wrap .left-wrap .text-wrap .green-color-title + .title {
  margin-top: 10px;
}

main .product-wrap .left-wrap .text-wrap .title + p {
  margin-top: 16px;
}

main .product-wrap .left-wrap .text-wrap p:last-child {
  margin-top: 5px;
}

main .product-wrap .right-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

main .product-wrap .right-wrap svg {
  width: 236px;
  height: 14px;
  flex-shrink: 0;
}

main .product-wrap .right-wrap .title-wrap {
  float: right;
  padding-right: 52px;
  margin-bottom: 20px;
}

main .product-wrap .right-wrap .green-color-title {
  color: #6F8F5B;
  font-size: 16px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 340px !important;
  height: 340px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list-wrap {
  padding-left: 15%;
}

.product-list-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}