body {
  font-family: 'Pretendard';
  font-style: normal;
}

button {
  box-sizing: border-box;
  width: 145px;
  height: 50px;
  background: rgba(34, 34, 34, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 16px;
  animation: zoom-in;
}

button:hover {
  cursor: pointer;
  background: rgba(34, 34, 34, 0.70);
  animation: zoom-in;
}

/* animation */
button, 
.product-list-wrap img,
main .contents .box-wrap > div,
main .product-wrap .right-wrap .title-wrap > img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html a {
  text-decoration: none;
  color: initial;
}

/* header */
header {
  padding: 24px 340px;
  position: relative;
  z-index: 10;
}

header > div {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 24px;
  padding: 0 50px;
  height: 80px;
}

header > div > div {
  display: flex;
  align-items: center;
}

header > div .logo-wrap {
  width: 100px;
  flex-shrink: 0;
}

header > div .logo-wrap img {
  width: 100%;
}

header .text-wrap {
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  color: #222222;
  font-size: 16px;
  font-weight: 600;
}

header .text-wrap .header-link-wrap {
  display: flex;
  gap: 60px;
}

/* footer */
footer {
  background: #DEE9D7;
}

footer > div {
  display: flex;
  height: 300px;
  padding: 0 100px;
}

footer > div > div {
  display: flex;
  align-items: center;
}

footer > div .logo-wrap {
  width: 100px;
  flex-shrink: 0;
}

footer > div .logo-wrap img {
  width: 100%;
}

footer .text-wrap {
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  width: 100%;
  color: #8FA680;
  font-size: 14px;
  font-weight: 400;
}

footer .text-wrap .title {
  font-family: 'Noto Sans KR';
  color: #6F8F5B;
  font-weight: 600;
}

footer .text-wrap > div {
  line-height: 23px;
}

footer .text-wrap .company-wrap {
  margin-top: 23px;
}

/* contents */
main {
  margin-top: -128px;
}

main .green-color-title {
  color: #72BF44;
  font-weight: 600;
  font-size: 20px;
}

main .contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  height: 100%;
}

main .contents .box-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

main .contents .box-wrap > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  width: 608px;
  height: 500px;
}

main .contents .box-wrap > div:hover {
  border-radius: 140px;
}

main .contents div p + p {
  margin-top: 24px;
}

main .contents .title {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}

main .contents > div + div {
  margin-top: 60px;
}

main .top-wrap {
  display: flex;
  justify-content: center;
  background-image: url("./images/mainBanner/main_banner.png");
  background-size: cover;
  height: 700px;
}

main.home .top-wrap {
  height: 980px;
}

main.blueberry .main-body {
  padding: unset
}

main.blueberry .main-body img,
main.caring .main-body img {
  display: block;
  border-radius: 16px;
  width: 100%;
}

main.blueberry .main-body .blueberry-farm-wrap,
main.blueberry .main-body .blueberry-seedlings-sale-wrap {
  padding: 80px 14%;
}

main.blueberry .top-wrap {
  background-image: url("./images/mainBanner/blueberry_banner.png");
}

main.caring .top-wrap {
  background-image: url("./images/mainBanner/caring_banner.png");
}

main.shop .top-wrap {
  background-image: url("./images/mainBanner/shop_banner.png");
}

main .top-wrap .main-text-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 28px;
}

main .top-wrap .main-text-wrap .title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 40px;
}

main .top-wrap .main-text-wrap .title + p {
  margin-top: 30px;
}

main .top-wrap .main-text-wrap p + p {
  margin-top: 20px;
}

main .top-wrap .main-text-wrap p + button {
  margin-top: 60px;
}

main .about-wrap {
  background: #FFF9EF;
  height: 864px;
}

main .about-wrap .blueberry-wrap {
  background-image: url("./images/blueberry.png");
  background-size: cover;
}

main .about-wrap .caring-wrap {
  background-image: url("./images/caring.png");
  background-size: cover;
}

main .product-wrap {
  display: flex;
  height: 750px;
}

main .product-wrap .left-wrap {
  width: 40%;
  height: 100%;
  background-image: url("./images/main_product.png");
  background-size: cover;
  padding-right: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main .product-wrap .left-wrap .text-wrap {
  height: 246px;
  border-radius: 0px 24px 24px 0px;
  background: rgba(255, 255, 255, 0.85);
  margin-bottom: 70px;
}

main .product-wrap .left-wrap .text-wrap > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 40px;
  padding-right: calc(100% - 570px);
}

main .product-wrap .left-wrap .text-wrap .title {
  font-size: 40px;
  font-weight: 700;
}

main .product-wrap .left-wrap .text-wrap .green-color-title + .title {
  margin-top: 10px;
}

main .product-wrap .left-wrap .text-wrap .title + p {
  margin-top: 16px;
}

main .product-wrap .left-wrap .text-wrap p:last-child {
  margin-top: 5px;
}

main .product-wrap .right-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

main .product-wrap .right-wrap .title-wrap {
  float: right;
  margin-bottom: 20px;
}

main .product-wrap .right-wrap .title-wrap img {
  float: right;
  width: 236px;
  height: 14px;
  padding-right: 20px;
}

main .product-wrap .right-wrap .title-wrap:hover > img {
  padding-right: 0;
}

main .product-wrap .right-wrap .green-color-title {
  color: #6F8F5B;
  font-size: 16px;
  width: 256px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 340px !important;
  height: 340px !important;
}

.main-body {
  padding: 80px 0;
}

main.home .product-list-wrap {
  padding-left: 15%;
}

.product-list-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.product-list-wrap img:hover {
  border-radius: 100px;
}

.product-main-wrap {
  display: flex;
  justify-content: center;
}

.product-main-wrap .product-list-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1240px;
  min-width: 1240px;
}

.product-main-wrap .product-list-wrap img {
  height: unset;
  display: block;
}

.product-main-wrap .product-list-wrap > div {
  width: 380px;
  margin-bottom: 50px;
  position: relative;
}

.product-list-wrap img + p {
  margin-top: 16px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 줄 수 설정 */
  overflow: hidden;
  text-overflow: ellipsis; /* 생략 부호 추가 */
}

.pagination { 
  display: flex; 
  justify-content: center; 
  margin-top: 30px;
}

ul { 
  list-style: none; 
  padding: 0; 
}

ul.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
}

ul.pagination li + li { 
  margin-left: 10px; 
}

ul.pagination li a { 
  color: #AAA; 
  text-decoration: none; 
  width: 20px;
  line-height: 20px;  
}

ul.pagination li.active a {
  color: #000; 
}

ul.pagination li a:hover, ul.pagination li a.active { 
  color: #000;
}

.sub-title {
  color: #222;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.sub-title.lead-icon > span {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.sub-title.lead-icon > span::before {
  content: "";
  display: block;
  background-image: url("./images/icon/lead_icon.png");
  background-repeat: no-repeat;
  position: relative;
  width: 40px;
  height: 40px;
}

.sub-title + .sub-contents {
  margin-top: 36px;
}

.sub-title.lead-icon + .sub-contents {
  margin-top: 60px;
}

.sub-title.lead-icon + .sub-contents li::before {
  content: "-";
  display: inline-block;
  position: relative;
  width: 20px;
  vertical-align: text-bottom;
}

.sub-contents {
  color: #222;
  font-family: "Noto Sans CJK KR";
  font-size: 24px;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.sub-contents + img {
  margin-top: 36px;
}

img + .sub-title {
  margin-top: 80px;
}

.table-wrap .table-header {
  display: flex;
  width: calc(100% - 48px);
  margin-top: 24px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: rgba(132, 198, 91, 0.20);
  color: #222;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.table-wrap .table-header .table-icon {
  display: flex;
  padding: 0px 16px;
  margin-left: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #84C65B;
  color: var(--Background-Footer, #FFF);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

.table-wrap .table-box {
  margin-top: 24px;
}

.table-wrap .table-box.four-box {
  display: flex;
  gap: 9px;
  width: 100%;
}

.table-wrap .table-box > div {
  display: flex;
  padding: 24px 24px 23px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #EAEAEA;
}

.table-wrap .table-box.four-box > div {
  width: 292px;
}

.table-wrap .table-box > div > .table-sub-title {
  color: #73BE44;
  font-size: 18px;
  font-weight: 600;
}

.table-wrap .table-box > div > .table-sub-contents {
  color: #222;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%; /* 30px */
  text-align: center;
}

.highlight {
  border-radius: 20px;
  display: inline;
  box-shadow: inset 0 -17px 0 #E6F4DE; 
}

.normal-wrap {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.normal-wrap.half-and-half + p,
.blueberry-seedlings-sale-wrap > div p {
  text-align: center;
}

.normal-wrap > div:first-child {
  width: 60%;
}

.normal-wrap > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}

.blueberry-experience-wrap .normal-wrap:first-child img {
  height: unset;
}

.normal-wrap.half-and-half > div {
  width: 50%;
}

.masonry-wrap {
  column-count: 2;
  column-gap: 1em;
}

.masonry-wrap > div {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
}

.blueberry-experience-wrap {
  background: rgba(114, 191, 68, 0.05);
}

.blueberry-experience-wrap > div {
  padding: 80px 14%;
}

.blueberry-experience-wrap > div p,
.blueberry-seedlings-sale-wrap > div p {
  color: #92A992;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.blueberry-experience-wrap p::before {
  content: "";
  display: inline-block;
  background-image: url("images/icon/short-arrow-up.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: sub;
}


.blueberry-seedlings-sale-wrap .normal-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 36px;
  margin-bottom: 64px;
}

.blueberry-experience-wrap > div > div > div > p,
.blueberry-seedlings-sale-wrap .normal-wrap p {
  margin-top: 16px;
}

.blueberry-seedlings-sale-wrap .normal-wrap > div {
  width: calc(100% / 2 - 40px);
}

.notice-wrap {
  text-align: center;
}

.notice-wrap > p.notice-title {
  color: #6F8F5B;
  font-size: 24px;
}